@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black;
  @apply text-white;
}

.content p {
  @apply my-2;
  @apply text-justify;
}

.content li p {
  display: inline;
}

.content p code {
  @apply bg-gray;
  @apply text-brown-light;
  @apply rounded;
  @apply p-0.5;
}

.content ul {
  list-style-type: disc;
  list-style-position: inside;
  @apply space-y-3.5;
  @apply my-2;
}

.content sup {
  @apply text-xs;
}

.content ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.content h1 {
  @apply text-3xl;
  @apply font-bold;
  @apply text-pink-dark;
}

.content h2 {
  @apply text-2xl;
  @apply font-bold;
}

.content h3 {
  @apply text-2xl;
  @apply font-bold;
}

.content a {
  @apply underline;
}

.content a:visited {
  @apply text-pink-light;
}

.content a:hover a:visited:hover {
  @apply text-white;
}

.highlight pre {
  @apply border-2;
  @apply border-gray;
  @apply rounded;
  @apply my-2;
  @apply pl-2;
  @apply pr-2;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  @apply overflow-auto;
}

.content blockquote {
  @apply p-2.5;
  @apply border-l-8;
  @apply border-pink-dark;
  @apply rounded-md;
  @apply bg-brown-light;
  @apply opacity-70;
  @apply text-black;
  @apply italic;
}

.content table {
  @apply ml-auto;
  @apply mr-auto;
  @apply mt-10;
  @apply mb-10;
  @apply bg-blue-gray;
}

.content table,
th,
td {
  @apply p-3;
  @apply border-2;
  @apply border-collapse;
  @apply border-gray;
}

/* When inside table use different style for verbatim code */
.content table code.verbatim {
  @apply bg-gray;
  @apply text-blue;
  @apply rounded-sm;
  @apply p-0.5;
}

.content .footnotes-separatator {
  @apply bg-white;
  @apply my-4;
  @apply rounded-sm;
  @apply h-1.5;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* VERY IMPORTANT: fractions are borked otherwise in katex */
*,
::after,
::before {
  border-color: #000;
}

/* purgecss end ignore */
